<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>
<p>
  <b>surname:</b>
  <%= @student.surname%>
</p>
<p>
  <b>Student_number:</b>
  <%= @student.student_number %>
</p>
<p>
  <b>ID number:</b>
  <%= @student.id_no%>
</p>
<p>
  <b>campus:</b>
  <%= @student.campus %>
</p>
<p>
  <b>email:</b>
  <%= @student.email %>
</p>

